extends includes/master

block vars

	- var script = 1;

block content
	.page2__main
		section.section1
			.section1__align
				.section1__main
					.item__btn
						span
							a(href="index.html") Volver
					.item__list
						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/app-tu-tiendita.png')
							
		section.section2
			.section2__align
				.section2__header
					.item__list
						.item.skeletor
							.item__info
								h2 Tu tiendita		
				.section2__main
					.item__list
						.item.skeletor
							.item__info
								h2 Intro
								p La tiendita es para aquellos que no quieren volver a perder tiempo en las compras del mercado.

							.item__info
								h2 Desafios
								p Si bien hacer las compras en el mercado, puede ser un momento de relajo, hasta cierto punto, tambien puede llegar a ser tedioso y complicado.

							.item__info
								h2 Metas
								p Crear una aplicación amigable que simplifique las compras en el mercado.

						.item.skeletor
							.item__info
								h2 Plataforma
								p Móvil / iOS

							.item__info
								h2 Herramientas
								p Lápiz y papel, Photoshop, Illustrator, Figma.


		section.section3
			.section3__align
				.section3__main
					.item__list
						img(src=path+'assets/la-tiendita/CTXZ3GLDRNHDDBNYUT4CSPWBAE.jpg')
							



		section.section4
			.section4__align
				.section4__header
					.item__list
						.item.skeletor
							.item__info
								h2 Entrevistas de usuario 
								p Para determinar aún más y descubrir si realmente existió un problema. Se realizaron entrevistas con personas que compran en el mercado con frecuencia.
						.item.skeletor
							.item__question
								h2 Entender al usuario
								p Jovenes, estudiantes, mamás, papás  o personas que hacen la compra de viveres para la casa.
								.item__quest
									ul
										li ¿Con que frecuencia viene al mercado para hacer las compras?
										li ¿Como es un día tipico cuando viene hacer las compras?
										li ¿Cuanto tiempo te toma esta actividad?

				.section4__main
					.item__list
						.item.skeletor
							.item__info
								h2 Objetivo
								p Quería escuchar experiencias de la vida real de cuándo las personas hacen sus compras.


						.item.skeletor
							.item__info
								h2 Proceso
								p Todas las entrevistas se realizaron de manera informal. Trabajé en las preguntas de la encuesta y tomé notas momentos después de que terminara.

		section.section5
			.section5__align
				.section5__header
					.item__list
						.item.skeletor
							.item__info
								h2 Usuario Persona
								p Basado en la investigación, se desarrolló una persona, María Zegarra. Diseñar para María ayudó a tomar decisiones de diseño, ya que siempre tuve en cuenta al usuario final.
						.item.skeletor
							//.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')
							.item__user
								p Usuario extremo
								.user
									.user__image
										img(src=path+'assets/la-tiendita/persona.png')
									.user__name
										h2 María Zegarra
										h3 Soy la reina de la cocina

								.userinfo
									p María tiene 32 años, es diseñadora y trabaja desde casa, vive con su esposo y sus 2 hijos, de 5 y 8 años, en el distrito de Cercado de Lima. María sigue muchos canales de cocina en youtube, y ama la comida marina.

									.userinfo__info
										h3 Necesidades
										ul
											li Comprar rápidamente.
											li Encontrar ofertas.
											li Encontrar sus marcas favoritas.


									.userinfo__info
										h3 Frustaciones
										ul
											li Largas colas.
											li Tener que ir 2 ó 3 veces el mismo día al mercado, si quiere comprar para varios días.
											li Que no tengan sencillo.


									.userinfo__apps
										h3 Tecnología
										ul
											li
												img(src=path+'assets/facebook_fb_media_social.png')
											li
												img(src=path+'assets/whatsapp.svg')

											li
												img(src=path+'assets/1384063.png')

											li
												img(src=path+'assets/yt.png')




						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')
									
				.section5__main
					.item__list
						.item.skeletor
							.item__info
								h2 Escenario
								p María está atrasada con las cosas de la chamba, y no tiene tiempo para ir hacer las compras. Se enteró de la aplicación TU TIENDITA y decide probarla.


		section.section6
			.section6__align
				.section6__header
					.item__list
						.item.skeletor
							.item__info
								h2 Análisis de la competencia
								p Usé este método para comparar otras aplicaciones en el mercado. El análisis me ayudó a encontrar diferentes características para agregar y cambiar al sitio existente.
						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')

						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')
									
				.section6__main
					.item__list#competencia
						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/tumercado.jpeg')

							.item__info
								h2 Tu Mercado
								ul
									li Diseño:  4/5
									li Usabilidad:  4/5
									//li Positivo: ajaj
									//li Negativo: aqui 




						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/holacasero.jpeg')

							.item__info
								h2 Hola Casero
								ul
									li Diseño:  3/5
									li Usabilidad:  3/5
									//li Positivo: ajaj
									//li Negativo: aqui 




						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/wabi.jpeg')

							.item__info
								h2 Wabi
								ul
									li Diseño:  4/5
									li Usabilidad:  3/5
									//li Positivo: ajaj
									//li Negativo: aqui 


						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita//alobodega.png')

							.item__info
								h2 Aló Bodega
								ul
									li Diseño:  3/5
									li Usabilidad:  3/5
									//li Positivo: ajaj
									//li Negativo: aqui 



		
		section.section7
			.section7__align
				.section7__header
					.item__list
						.item.skeletor
							.item__info
								h2 Wireframes de baja fidelidad
								p  Creé los wireframes de baja fidelidad y realicé  pruebas de usuarios  con varios clientes potenciales. El  propósito  de la prueba del usuario era  determinar  si era factible avanzar con los  wireframes de alta fidelidad.



									
				.section7__main
					.item__list#wireframes
						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-home-wireframe.png')

							.item__info
								h2 Inicio


						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-nuevoproducto-wireframe.png')

							.item__info
								h2 Agregar producto al carrito

						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-carrito-wireframe.png')

							.item__info
								h2 Detalle carrito	



						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-mapa-wireframe.png')

							.item__info
								h2 Seguimiento de compra


						
		

		section.section8
			.section8__align
				.section8__header
					.item__list
						.item.skeletor
							.item__info
								h2 Prueba A / B
								p Al observar a nuestros usuarios probar el producto, identifiqué rápidamente áreas, donde la aplicación no es simple o lo suficientemente clara.

									
				.section8__main
					.item__list#test
						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/tutiendita-a.png')

							.item__info
								h2 Opción A
								h3 65%




						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/tutiendita-b.png')

							.item__info
								h2 Opción B
								h3 35%
								



						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')

							.item__info
								h2 Expedia

						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')

							.item__info
								h2 Expedia


		section.section9
			.section9__align
				.section9__header
					.item__list
						.item.skeletor
							.item__info
								h2 Wireframes de alta fidelidad
								p Después de varias rondas de pruebas de usuarios en los wireframes de baja fidelidad, creé los wireframes de alta fidelidad de la aplicación.

									
				.section9__main
					.item__list#diseno

						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-home.png')

							.item__info
								h2 Inicio

						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-carrito.png')

							.item__info
								h2 Detalle carrito	

						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-resumen-compra.png')

							.item__info
								h2 Mis compras



						.item.skeletor
							.item__image
								img(src=path+'assets/la-tiendita/aplicacion-la-tiendita-recorrido.png')

							.item__info
								h2 Seguimiento de compra



						

						

					.item__btn
						span
							a(href="index.html") Volver


block javascript
	script(type="text/javascript" src=path+'js/library/slick.min.js' charset="utf-8")
	script(type='text/javascript' src='js/main.js')