extends includes/master

block vars

	- var script = 1;

block content
	.page1__main
		section.section1
			.section1__align
				.section1__main
					.item__list
						.item.skeletor
							a(href="la-tiendita.html")
								.item__image
									img(src=path+'assets/aplicacion-la-tiendita.png')
								.item__info
									p Aplicación
									h3 La Tiendita
									span Leer más


						.item.skeletor
							a(href="book-people.html")
								.item__image
									img(src=path+'assets/web-book-people.png')
								.item__info
									p Web
									h3 Book People
									span Leer más

						.item.skeletor
							a(href="nt-grupo.html")
								.item__image
									img(src=path+'assets/web-ntgrupo.png')
								.item__info
									p Web
									h3 NT GRUPO
									span Leer más


						.item.skeletor
							a(href="la-lena.html")
								.item__image
									img(src=path+'assets/aplicacion-la-lena.png')
								.item__info
									p Web
									h3 La Leña
									span Leer más

						.item.skeletor
							a(href="nt-futura.html")
								.item__image
									img(src=path+'assets/futura.jpg')
								.item__info
									p Web
									h3 NT FUTURA
									span Leer más

						.item.skeletor
							a(href="rodas-romero.html")
								.item__image
									img(src=path+'assets/tributario.jpg')
								.item__info
									p Web
									h3 rodas romero
									span Leer más






block javascript
	script(type="text/javascript" src=path+'js/library/slick.js' charset="utf-8")
	script(type='text/javascript' src='js/main.js')