extends includes/master

block vars

	- var script = 1;

block content
	.page2__main
		section.section1
			.section1__align
				.section1__main
					.item__btn
						span
							a(href="index.html") Volver
					.item__list
						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-inicio.png')
							
		section.section2
			.section2__align
				.section2__header
					.item__list
						.item.skeletor
							.item__info
								h2 BOOK PEOPLE	
				.section2__main
					.item__list
						.item.skeletor
							.item__info
								h2 Intro
								p BOOK PEOPLE es para aquellos que no pueden imaginar su vida sin leer.

							//.item__info
								h2 Desafios
								p Si bien viajar puede ser una experiencia agradable y que expande la mente, hacer un seguimiento de todos los detalles necesarios para planificar un viaje puede ser tedioso.

							.item__info
								h2 Metas
								p Crear una plataforma web amigable, donde vas a poder encontrar un sinfin de  títulos.

						.item.skeletor
							.item__info
								h2 Plataforma
								p Web

							.item__info
								h2 Herramientas
								p Lápiz y papel, Photoshop, Illustrator, Figma.


		section.section3
			.section3__align
				.section3__main
					.item__list
						img(src=path+'assets/book-people/reading-2605540_1920.jpg')
							



		section.section4
			.section4__align
				.section4__header
					.item__list
						.item.skeletor
							.item__info
								h2 Entrevistas de usuario 
								p Para determinar aún más y descubrir si realmente existió un problema. Se realizaron entrevistas con personas que compran libros con frecuencia.
						.item.skeletor
							.item__question
								h2 Entender al usuario
								p Jovenes, estudiantes, mamás, papás  o personas que son amantes de los libros.
								.item__quest
									ul
										li ¿Con que frecuencia compras libros?
										li ¿Cuando vas a comprar un libro, lo encuentras con facilidad?
										li ¿Cuanto tiempo te toma ir y comprar tu libro favorito?

				.section4__main
					.item__list
						.item.skeletor
							.item__info
								h2 Objetivo
								p Quería escuchar experiencias de la vida real de cuándo las personas van a una tienda a comprar su libro favorito.


						.item.skeletor
							.item__info
								h2 Proceso
								p Todas las entrevistas se realizaron de manera informal. Trabajé en las preguntas de la encuesta y tomé notas momentos después de que terminara.

		section.section5
			.section5__align
				.section5__header
					.item__list
						.item.skeletor
							.item__info
								h2 Usuario Persona
								p Basado en la investigación encontrada en el período de descubrimiento del proyecto, se desarrolló una persona, Karla Paredes. Diseñar para Karla ayudó a tomar decisiones de diseño informadas, ya que siempre tuve en cuenta al usuario final.
						.item.skeletor
							//.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')
							.item__user
								p Usuario extremo
								.user
									.user__image
										img(src=path+'assets/book-people/persona.png')
									.user__name
										h2 Karla Paredes
										h3 Más lees, más sabes

								.userinfo
									p Karla tiene 33 años, es arquitecta y es amante de los libros. Tiene 2 hijos y vive en Magdalena. Es fanatica de las novelas romanticas y odia las colas.

									.userinfo__info
										h3 Necesidades
										ul
											//li Comprar rápidamente.
											li Encontrar ofertas.
											li Encontrar su libro favorito rápidamente.


									.userinfo__info
										h3 Frustaciones
										ul
											li Largas colas.
											li Encontrar su libro favorito en mal estado.
											li Tener problemas al momento de pagar con tarjeta.
											//li Que no tengan sencillo.


									.userinfo__apps
										h3 Tecnología
										ul
											li
												img(src=path+'assets/nexflit.png')
											li
												img(src=path+'assets/whatsapp.svg')

											li
												img(src=path+'assets/1384063.png')

											li
												img(src=path+'assets/waze.png')




						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')
									
				.section5__main
					.item__list
						.item.skeletor
							.item__info
								h2 Escenario
								p Karla quiere comprar una nueva novela, de su escritora favorita. Se enteró de BOOK PEOPLE  a través de un compañero de trabajo y decide probarla.


		section.section6
			.section6__align
				.section6__header
					.item__list
						.item.skeletor
							.item__info
								h2 Análisis de la competencia
								p Usé este método para comparar otras plataformas en el mercado. El análisis me ayudó a encontrar diferentes características para agregar y cambiar al sitio existente.
						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')

						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')
									
				.section6__main
					.item__list#competencia
						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/buscalibre.png')

							.item__info
								h2 Buscalibre
								ul
									li Diseño:  3.5/5
									li Usabilidad:  3.5/5
									//li Positivo: ajaj
									//li Negativo: aqui 




						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/casa-del-libro.png')

							.item__info
								h2 La casa del libro
								ul
									li Diseño:  3/5
									li Usabilidad:  3/5
									//li Positivo: ajaj
									//li Negativo: aqui 




						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/crisol.png')

							.item__info
								h2  Crisol
								ul
									li Diseño:  4/5
									li Usabilidad:  3/5
									//li Positivo: ajaj
									//li Negativo: aqui 


						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/sbs.png')

							.item__info
								h2 SBS
								ul
									li Diseño:  4/5
									li Usabilidad:  4/5
									//li Positivo: ajaj
									//li Negativo: aqui 



		
		section.section7
			.section7__align
				.section7__header
					.item__list
						.item.skeletor
							.item__info
								h2 Wireframes de baja fidelidad
								p  Diseñe los wireframes de baja fidelidad y realicé  pruebas de usuarios  con varios clientes potenciales. El  propósito  de la prueba del usuario era  determinar  si era factible avanzar con los  wireframes de alta fidelidad.



									
				.section7__main
					.item__list#wireframes
						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-wireframes-inicio.png')

							.item__info
								h2 Inicio


						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-wireframes-detalle.png')

							.item__info
								h2 Detalle libro

						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-wireframes-busqueda.png')

							.item__info
								h2 Busqueda



						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-wireframes-menu.png')

							.item__info
								h2 Menú web


						
		

		section.section8
			.section8__align
				.section8__header
					.item__list
						.item.skeletor
							.item__info
								h2 Prueba A / B
								p Al observar a nuestros usuarios probar el producto, identifiqué rápidamente áreas, donde la web no es simple o lo suficientemente clara.

									
				.section8__main
					.item__list#test
						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-a.png')

							.item__info
								h2 Opción A
								h3 79%




						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-b.png')

							.item__info
								h2 Opción B
								h3 21%
								



						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')

							.item__info
								h2 Expedia

						//.item
							.item__image
								img(src=path+'assets/aplicacion-la-tiendita.png')

							.item__info
								h2 Expedia


		section.section9
			.section9__align
				.section9__header
					.item__list
						.item.skeletor
							.item__info
								h2 Wireframes de alta fidelidad
								p Después de varias rondas de pruebas de usuarios en los wireframes de baja fidelidad, pase a las pantallas en alta fidelidad.

									
				.section9__main
					.item__list#diseno

						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-busqueda.png')

							.item__info
								h2 Busqueda

						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-categoria.png')

							.item__info
								h2 Detalle categoria

						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-consultas.png')

							.item__info
								h2 Consultas



						.item.skeletor
							.item__image
								img(src=path+'assets/book-people/web-book-people-detalle.png')

							.item__info
								h2 Detalle libro


						

						

					.item__btn
						span
							a(href="index.html") Volver


block javascript
	script(type="text/javascript" src=path+'js/library/slick.min.js' charset="utf-8")
	script(type='text/javascript' src='js/main.js')